---
import { Image } from "astro:assets";
import desktopImage from '../../icons/loaderImages/desktop.png'
import mobileImage from '../../icons/loaderImages/mobile.png'
import logo from '../../icons/loaderImages/desktopLogo.png'
---

<div id="page-loader" class="top-0 transition-all duration-700 left-0 fixed w-screen h-screen bg-[#dff4ff] z-[999999]">
    <div class="w-full relative h-full max-md:hidden block">
        <Image src={desktopImage} alt='loader' width={1920} class="top-0 bg-cover h-screen absolute -z-50 w-screen object-cover" />
        <div class="w-full  h-full flex justify-center items-center ">
          <Image src={logo} alt='loader' width={450} class="h-[158px] fading w-[400px] " />
       </div>
    </div>
    <div class="w-full relative h-full max-md:block hidden">
        <Image src={mobileImage} width={500} alt='loader' class="top-0 absolute h-full -z-50 w-full object-cover" />
        <div class="w-full  h-full flex justify-center fading items-center ">
          <Image src={logo} width={350} alt='loader' class="w-[201px]" />
       </div>
    </div>
</div>

<style>
  @keyframes fade-up {
      0%{
          opacity: 0;
          transform: translateY(30px) scale(0.9);
      }
      100%{
          opacity: 1;
          transform: translateY(0px) scale(1);
      }
      }

      .fading {
      animation: fade-up 0.5s;
      }
</style>