---
import Text from '../system/Text.astro'
import { Image } from 'astro:assets'
import newsDummy from '../../assets/newsDummy.png'

const colors = [
  '#F67E7D',
  '#98B08B',
  '#EEB956',
]

const { i, title, description } = Astro.props

const currentColor = colors[i % colors.length]
const rotation = i % 2 === 0 ? '-3.8deg' : '2.96deg'
---

<div class="relative h-fit" style={{ transform: `rotate(${rotation})` }}>
  <div class="w-[280px] py-2 px-[12px] bg-white relative z-10">
    <div class="h-[230px]">
      <Image src={newsDummy} alt="news" class="w-[280px] h-full object-cover" />
    </div>
    <Text type="sm" class="font-display font-bold italic text-center mt-[16px]" style={{color: colors[0]}}>{title}</Text>
    <Text type="xs" class="mt-[14px] italic text-cp-4 text-center leading-[160%]">{description}</Text>
  </div>
  <div class="absolute top-[10px] left-[10px] w-full h-full" style={{backgroundColor: currentColor}}></div>
</div>