---
import { twMerge as tw } from 'tailwind-merge';
import Text from '../system/Text.astro'
import { Image } from "astro:assets";
// import PlusCornerBorder from "./PlusCornerBorder.astro";
// import Slide from './system/Slide.astro';

const { item, type, fill, i } = Astro.props
---
<div class={tw("!flex swiper-slide md:!w-[auto] flex-col items-center group ml-0 max-md:ml-0")}>
  <div
    class={tw(
      `ticker__item text-5xl
      text-center text-black flex items-center
      max-md:w-full
      justify-center relative max-md:translate-y-0`,
      item.imageClass,
      i % 2 === 0 ? "-translate-y-[65px]" : "translate-y-[65px]"
    )}>
      <Image
        src={item.src}
        alt={item.alt || "Image"}
        class="w-full h-full object-contain"
        width={600}
      />
  </div>

  <Text
    class={tw(
      "mt-[20px] ticker-text text-[28px] gap-[48px] font-[700] max-md:hidden max-md:translate-y-0",
      item.textClass,
      i % 2 === 0 ? "-translate-y-[65px]" : "translate-y-[65px]"
    )}
    type="base"
  >
    {item.text}
  </Text>
</div>

<style>

.swiper-slide  {
  transform: scale(0.95) !important;
  transition: transform 0.7s ease-in-out;
}

.swiper-slide-active  {
  transform: scale(1) !important;
  transition: transform 0.7s ease-in-out;
}

</style>