---
import Modal from "../system/Modal.astro";
import RegisterForm from "./registerForm.astro";
const id = 'applyNow'
---

<Modal id={id} class="h-screen backdrop-blur-sm p-9 max-md:p-0" containerClass="flex items-center justify-center">
    <div class="relative">
      <RegisterForm/>
      <div
       data-modal-close={id}
       class="cursor-pointer  w-[38px] h-[38px] z-50 absolute right-[0px] border  top-[10px]  md:top-[15px] md:right-[10px] rounded-full bg-white border-primary flex items-center justify-center hover:shadow-xl hover:bg-[#cbc9f4] group transition-all"

       >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path d="M14.3467 1.6563L1.65344 14.3496M1.65339 1.65625L14.3467 14.3495" stroke="#726AD6" stroke-width="1.904" stroke-linecap="round"/>
        </svg>
      </div>

    </div>

</Modal>