---
import { twMerge as tw } from 'tailwind-merge'
const { class: className, firstLineClass, secondLineClass, thirdLineClass, start, end, id, gsap=false, delay=0, target } = Astro.props
---
<div class="relative inline-block" data-practice-book data-delay={delay} data-start={start} data-end={end} data-target={target}>
  <div data-practice-line class={tw("absolute w-full border-t border-[0.5px] top-[22%] left-0 border-primary", className, firstLineClass)}></div>
  <div data-practice-line class={tw("absolute w-full border-t border-[0.5px] border-dashed top-[40%] left-0 border-primary", className, secondLineClass)}></div>
  <div data-practice-line class={tw("absolute w-full border-t border-[0.5px] bottom-[14%] left-0 border-primary", className, thirdLineClass)}></div>
  <div class="relative w-full z-[2]" data-practice-text>
    <slot />
  </div>
</div>